.details .shoe-name{
    font-size:1.125em;
    font-weight:bold;
    text-align: left;
    padding-left:2%;
}
.details{
    background-color: white;
    margin:0 2% 2% 2%;
}
.details .btn-cart{
    border:1px solid silver;
    border-radius:var(--pref-border-radius);
    margin:1%;
    background-color: var(--theme-color);
    color:white;
}
.details .btn-cart:hover{
    box-shadow:2px 2px 2px silver;
    border-color: grey;
    background-color: var(--theme-sec-color);
}
.details .cart-link{
    border:1px solid silver;
    display: inline-block;
    border-radius:5px;
    padding:2%;
    color:var(--theme-sec-color);
}
.details .cart-link button{
    background-color: transparent;
    color:red;
    border-color: red;
}
.details img{
    max-width:300px;
}
.details .thumb-nail{
    border:2px solid grey;
    padding:2px;
    display: inline-block;
    margin:2%;
}
.details .selected{
    border-color:var(--theme-color);
}
.details .thumb-nail img{
    max-width:80px;
}

.details .sizes h4{
    font-size:1.125em;
}
.details .size-container .size{
    display: inline-block;
    width:60px;
    height:60px;
    line-height: 60px;
    color:var(--theme-color);
    text-align: center;
    margin:1%;
    border:2px solid grey;
    font-weight:bold;
    position:relative;
}
.details .size-container .size-status{
    position:absolute;
    bottom:0;
    left: 0;
    height:16px;
    width:100%;
    line-height: 16px;
    font-size: 0.5em;
    display: block;
    overflow:hidden;
    background-color: white;
    color:red;
}
.details .size-container .size:hover{
   border-color:var(--theme-color);
    cursor: pointer;
}
.details .size-container .selected{
   border-color:var(--theme-sec-color);
   background-color: var(--theme-color);
   color:white;
}
.details .description{
    background-color:rgba(245, 245, 245, 0.76);
    border-radius:5px;
    margin:2%;
    font-size:0.875em;
}