.store{
    overflow-x: hidden;
    min-height:86vh;
    padding:2%;

}
.btn-show-more{
    color:blue;
    background-color: transparent;
    border:none;
    opacity: 0.8;
}
.btn-show-more:hover{
    opacity: 1;
}