.store{
    overflow-x: hidden;
    min-height:86vh;
    padding:2%;

}

.page-links-container{
    padding:2%;
    text-align: center;
}
.page-links-container .page-no{
    display: inline-block;
    height:50px;
    width:50px;
    line-height:50px;
    text-align: center;
    text-decoration: none;
    color:var(--theme-color);
    border:2px solid var(--theme-color);
    margin:1%;
}
.page-links-container .page-no:hover{
    background-color: var(--theme-color);
    color:white;
}