.cart h1{
    font-size: 1.25em;
}
.cart h2{
    font-size:1.125em;
    background-color: silver;
    padding:1%;
}
.cart img{
    max-width:150px;
    border-radius:2px;
}
.cart-item{
    background-color: white;
    margin:2%;
    padding:2%;
}
.cart-item .btn-view{
    color:var(--theme-sec-color);
    text-decoration: none;
    padding:5px;
}
.cart-item .btn-view:hover{
    box-shadow: none;
    opacity: 0.7;
}
.cart-item .size{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left:15px;
    padding-right:30px;
    margin-bottom:1%;
    color:var(--theme-sec-color);
    background-color: var(--theme-color);
    position: relative;
}
.cart-item .size::before{
    content: "";
    position:absolute;
    top:0;
    left:-30px;
    border:15px solid transparent;
    border-right-color: var(--theme-color);
}
.cart-item .size::after{
    content: "";
    position:absolute;
    top:0;
    right:0;
    border:15px solid transparent;
    border-right-color:white;
}
.cart-item .quantity{
    display: inline-block;
    width:20px;
    text-align: center;
}
.cart-item .item-name{
    font-weight:bold;
    line-height:20px;
    height:40px;
    overflow: hidden;
}
.cart .item-price{
    font-weight: bold;
    text-align: right;
}
.cart .quantity{
    display:inline-block;
    font-weight: bold;
    border-bottom:2px dotted var(--theme-sec-color);
    border-radius: 50%;
}
.cart .btn-quantity{
    display: inline-block;
    background-color:var(--theme-color);
    padding: 2px;
    height: 20px;
    width:20px;
    color:var(--theme-sec-color);
    box-shadow: 2px 2px 2px black;
}
.cart .btn-quantity:hover{
    background-color:var(--theme-color);
    box-shadow: none;
}
.cart .btn-save-changes{
    border-color: silver;
    border-radius:var(--pref-border-radius);
    background-color: var(--theme-sec-color);
    color:white;
}
.cart .cart-summary{
    background-color: white;
    box-shadow:2px 2px 2px silver;
    padding:2%;
}
.cart .btn-checkout{
    display: inline-block;
    background-color: green;
    color:white;
    width:100%;
    padding: 0.125em;
    border-color: silver;
    border-radius: var(--pref-border-radius);
    text-decoration: none;
    text-align: center;
}
