.footer
{
    background-color:white;
    overflow:hidden;
}
.footer h3{
    margin:0;
    font-size:1.125em;
}
.footer .social-link{
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;
    background-color:var(--theme-color);
    color:white;
    padding:0;
    border-radius:50%;
    margin:1% 2%;
}
.footer a{
    text-decoration: none;
    color:var(--theme-color);
}
.footer ul{
    list-style: none;
    padding:0;
}
.footer .copy-right{
    color:black;
    font-weight:bold;
    font-size: 0.6875em;
}