.sale-items{
    background-color: white;
    overflow:hidden;
}
.sale-items h2{
    font-size: 1.125em;
    background-color: var(--theme-color);
    color: white;
    margin-top:2%;
    padding:1%;
}
.sale-items .btn-email-submit,
.sale-items .user-email-input{
    border:1px solid var(--theme-color);
    line-height:20px;
    padding:4px;
    float: left;
}
.sale-items .btn-email-submit{
    border-left:none;
    color:white;
    background-color:var(--theme-color);
    width:20%;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}
.sale-items .user-email-input{
    border-right:none;
    width:80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
}
.focus-outline-none:focus{
    outline: none;
}